[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==4.2"
django-rest-framework = "*"
django-filter = "==22.1"
django-cors-headers = "*"
djangorestframework = "*"
django-debug-toolbar = "==3.4.0"
psycopg = "==3.1.8"
django-environ = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
